<ul class="nav nav-tabs ">
    <li class="nav-item">
      <a class="nav-link text-dark" [ngClass]="{'active': selectedLink === 'link1'}" (click)="selectedLink = 'link1'" >Cadastro</a>
    </li>
    <li class="nav-item" *ngIf="!!servico && !!servico.id">
      <a class="nav-link text-dark" [ngClass]="{'active': selectedLink === 'link2'}" (click)="selectedLink = 'link2'" >O que foi feito?</a>
    </li>
</ul>
  
<div class="p-2">
    <app-servicos-cadastro *ngIf="selectedLink === 'link1'"></app-servicos-cadastro>
</div>

<div class="p-1">
  <app-servicos-itens-cadastro (selectLink)="selectedLink = $event" *ngIf="selectedLink === 'link2'"></app-servicos-itens-cadastro>
</div>
