<div class="row ">
  <h1 class="col-4">Movimentações Financeiras</h1>
  <div class="col-3"></div>

  <div class="col-2 text-right text-end pe-0">
    <button type="button text-right text-end pl-5" (click)="defaultValue()" class="btn btn-success" data-bs-toggle="modal"
      (click)="receitaSelect()" data-bs-target="#modalMovimentacoesFinanceiras">Adicionar Receita</button>
  </div>
  <div class="col-sm-3 ">
    <button type="button" class="btn btn-danger" (click)="defaultValue()" data-bs-toggle="modal"
      (click)="despesaSelect()" data-bs-target="#modalMovimentacoesFinanceiras">Adicionar Despesa</button>
  </div>
</div>
<div class="row px-0 py-3">
  <div class="col-3"></div>
  <div class="col-2"></div>
  <div class="col-2 text-bg-success text-center py-4 px-5">
    <div class="row"> Total Receitas</div>
    <div class="row">R{{this.totalReceitas | currency}}</div>
  </div>  
  &nbsp;
  <div class="col-2 text-bg-danger  py-4 px-5">
    <div class="row"> Total Despesas</div>
    <div class="row">R{{this.totalDespesas | currency}}</div>
  </div>
  &nbsp;
  <div class="col-2 text-bg-primary py-4 px-5">
    <div class="row"> &nbsp;Saldo</div>
    <div class="row">&nbsp;R{{this.saldo | currency}}</div>
  </div>
  
</div>

<div class="row">
  <form [formGroup]="formularioPesquisa" novalidate>
    
    <div class="form-group row">
      <label class="col-form-label col-1 ">Período</label>
      <div class="col-3">
        <input type="date"  class="form-control" formControlName="datainicio" placeholder="data início">
      </div>
      <div class="col-sm-3">
        <input type="date" class="form-control" formControlName="datafim" placeholder="data fim">
      </div>
    </div>

    <div class="form-group row py-2">
      <label class="col-form-label col-1 text-sm-right">Tipo</label>
      <div class="col-3">
        <select class="custom-select form-select mr-sm-2 mb-2 mb-sm-0 form-control " formControlName="tipo">
          <option [value]="''">Todos</option>
          <option *ngFor="let tipo of listTipoFinanceiro" [value]="tipo.value">{{tipo.text}}</option>
        </select>
      </div>
      <div class="col-4"></div>
      <div class=" d-flex flex-row-reverse">
        <button type="button " (click)="makeRequestHttp()" class="btn btn-secondary col-sm-2 btn-lg btn-block">&nbsp;Filtrar&nbsp;</button>
      </div>

    </div>
  
  </form>
</div>



<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Valor R$</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Id</th>
      <th scope="col">Ações</th>
    </tr>

  </thead>
  <tbody *ngFor=" let movimentacao of movimentacoesFinanceirasList">
    <tr>
      <td data-bs-toggle="modal" data-bs-target="#modalMovimentacoesFinanceiras" (click)="this.edit(movimentacao)">
        {{movimentacao.data | date: 'dd/MM/YYYY'}}</td>
      <td data-bs-toggle="modal" data-bs-target="#modalMovimentacoesFinanceiras" (click)="this.edit(movimentacao)">
        {{movimentacao.valor | currency}}</td>
      <td data-bs-toggle="modal" data-bs-target="#modalMovimentacoesFinanceiras" (click)="this.edit(movimentacao)">
        {{movimentacao.tipo == TipoFinanceiroEnum.RECEITA ? 'Receita' : 'Despesa'}}</td>
      <td data-bs-toggle="modal" data-bs-target="#modalMovimentacoesFinanceiras" (click)="this.edit(movimentacao)">
        {{movimentacao.descricao}}</td>
      <td data-bs-toggle="modal" data-bs-target="#modalMovimentacoesFinanceiras" (click)="this.edit(movimentacao)">
        {{movimentacao.id}}</td>
      <td>&nbsp;
        <button (click)="this.delete(movimentacao.id)" class="btn btn-danger btn-sm rounded-0" type="button"
          data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" #modalMovimentacoesFinanceiras id="modalMovimentacoesFinanceiras" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-bg-success" *ngIf="this.selectTipo === TipoFinanceiroEnum.RECEITA">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Receita</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-header text-bg-danger" *ngIf="this.selectTipo === TipoFinanceiroEnum.DESPESA">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Despesa</h1>
        <button type="button" (click)="makeRequestHttp()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="formularioMovimentacoesFinanceiras" novalidate>

          <div class="form-group row py-5" hidden="true">
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="id">
            </div>
          </div>

          <div class="form-group row py-2">
            <label class="col-form-label col-sm-2 text-sm-right">Data*</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" formControlName="data"
                placeholder="Selecione a data da movimentação"
                >
              <small class=" text-danger"
                *ngIf="formularioMovimentacoesFinanceiras.get('data').touched && formularioMovimentacoesFinanceiras.get('data').hasError('required')">Data
                é obrigatório.</small>
            </div>
          </div>

          <div class="form-group row py-2">
            <label class="col-form-label col-sm-2 text-sm-right">Valor*</label>
            <div class="col-sm-8">
              <input type="number" class="form-control"
                [ngClass]="{ 'is-invalid': formularioMovimentacoesFinanceiras.get('valor').invalid && formularioMovimentacoesFinanceiras.get('valor').touched }"
                formControlName="valor" placeholder="Digite o valor">
              <small class=" text-danger"
                *ngIf="formularioMovimentacoesFinanceiras.get('valor').touched && formularioMovimentacoesFinanceiras.get('valor').hasError('required')">
                Valor é obrigatório.
              </small>
            </div>
          </div>

          <div class="form-group row py-2">
            <label class="col-form-label col-sm-2 text-sm-right">Descrição</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="descricao"
                placeholder="Sobre o que é a movimentação">
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button (click)="makeRequestHttp()" type="button" class="btn btn-danger" data-bs-dismiss="modal" id="fecharModalButton"> <i
            class="bi bi-x-lg"></i>&nbsp;&nbsp;Fechar
        </button>
        <button type="button" (click)="onSubmit()" class="btn btn-primary"><i
            class="bi bi-floppy2-fill"></i>&nbsp;&nbsp;Salvar</button>
      </div>
    </div>
  </div>
</div>