<app-block-ui #pageBlockUI></app-block-ui>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>

<div class="card mb-4">
    <div class="card-body ">
        <form (ngSubmit)="onSubmit()" [formGroup]="formularioServicos" novalidate>

            <div class="form-group row py-5" hidden="true">
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="id">
                </div>
            </div>

            <div class="form-group row py-2">
                <label class="col-form-label col-sm-2 text-end">Cliente</label>
                <div class="col-sm-4">
                    <select class="form-select mr-sm-2 mb-2 mb-sm-0 form-control " formControlName="cliente">
                        <option *ngIf="formularioServicos.value.cliente === null " [value]="null">Selecione um cliente...</option>
                        <option *ngFor="let tipo of clientesList" [value]="tipo.id">{{tipo.nome}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row pt-1">
                <label class="col-form-label col-sm-2 text-end">Data Previsão*</label>
                <div class="col-sm-4">
                    <input type="date"
                        [ngClass]="{ 'is-invalid': formularioServicos.get('dataPrevisao').invalid && formularioServicos.get('dataPrevisao').touched }"
                        class="form-control" formControlName="dataPrevisao" placeholder="data de previsão">
                    <small class=" text-danger"
                        *ngIf="formularioServicos.get('dataPrevisao').touched && formularioServicos.get('dataPrevisao').hasError('required')">
                        Data de Previsão é obrigatório.
                    </small>
                </div>
            </div>

            <div class="form-group row py-2">
                <label class="col-form-label col-sm-2 text-end">Descrição*</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" formControlName="descricao"
                        placeholder="Digite sobre o serviço"
                        [ngClass]="{ 'is-invalid': formularioServicos.get('descricao').invalid && formularioServicos.get('descricao').touched }"></textarea>
                        <small class=" text-danger" *ngIf="formularioServicos.get('descricao').touched && formularioServicos.get('descricao').hasError('required')">
                            Descrição é obrigatório.
                        </small>
                </div>
            </div>

            <div class="form-group row py-2"> 
                <label class="col-form-label col-sm-2 text-end">Valor Total</label>
                <div class="col-sm-8">
                    <p-inputNumber mode="decimal" minFractionDigits="2" maxFractionDigits="2" class="form-control" placeholder="valor total do serviço" formControlName="valorTotal"></p-inputNumber>
                </div>
            </div>

            <div class="form-group row py-2">
                <label class="col-form-label col-sm-2 text-end">Status do Serviço</label>
                <div class="col-sm-4">
                    <select class="form-select mr-sm-2 mb-2 mb-sm-0 form-control " formControlName="statusServico">
                        <option *ngFor="let tipo of statusServicoEnum" [value]="tipo.value">{{tipo.text}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row py-2">
                <label class="col-form-label col-sm-2 text-end">Status do Pagamento</label>
                <div class="col-sm-4">
                    <select class="form-select mr-sm-2 mb-2 mb-sm-0 form-control" formControlName="statusPagamento">
                        <option *ngFor="let tipo of statusPagamentoEnum" [value]="tipo.value">{{tipo.text}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row py-2">       
                <label class="col-form-label col-sm-2 text-end">Porcentagem  dos Itens</label>
                <div class="col-sm-8">
                    <p-inputNumber mode="decimal" class="form-control" placeholder="porcentagem dos itens" formControlName="porcentagem"></p-inputNumber>
                </div>
            </div>
        </form>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-danger" [routerLink]="[lskMaquinasRotasEnum.SERVICOS]"><i class="bi bi-x-lg"></i>&nbsp;&nbsp; Cancelar</button> &nbsp;&nbsp;
            <button type="button" (click)="onSubmit()" class="btn btn-primary" ><i class="bi bi-floppy2-fill"></i>&nbsp;&nbsp;Gravar</button>
        </div>
     
    </div>
</div>
